<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.euniceadinlewa_comp304_hands_on_test2_w23">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EuniceAdinlewa_COMP304_HandsOn_Test2_W23">

        <activity
            android:name=".EuniceActivity"
            android:label="EuniceAdinlewa_COMP304_Hands-On_Test2_W23"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <receiver android:name=".StockInfoReceiver" />

    </application>

</manifest>
